/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


h1 {
	font-family: Raleway;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Raleway;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#canvas {
	background-color: white;
	flex-basis: 70%;
	padding: 2px;
}

.header_div {
	padding: 2%;
	flex-grow: 1;
}

.content_div {
	padding: 2%;
	padding-bottom: 0%;
	flex-grow: 100;
	display: flex;
}

.content_left {
	flex-basis: 10%;
	background: blue;
}

.content_center {
	flex-basis: 70%;
	background: red;
	padding: 2px;
}

.content_right {
	flex-basis: 20%;
	background: green;
}

.footer_div {
	padding-right: 2%;
	padding-left: 2%;
	flex-grow: 1;
	display: flex;
}

.footer_item {
	flex-grow: 1;
	background: yellow;
}
	
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    height: 40px;
    background-color: gray;
    transition: max-height 0.3s;
}

.dropUpMenu {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1em;
    background-color: gray;
    transition: bottom 0.3s;
}

.dropUpMenu.active {
    bottom: 40px;
}

.dropUpMenu.active + footer {
    max-height: 40px;
}
